body{
  margin: 0;
  padding: 0;
}



h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

nav {
  background-color: aqua;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 10px 5px;
  height: auto;
  width: 100%;
}
ul,li,a{
  margin: 0;
}
nav > ul > li > a{
  text-decoration: none;
  color: burlywood;
  text-transform: uppercase;
  font-weight: bold;
}

nav > ul > li > a:hover{
  color: black;
}
nav > ul > li{
  list-style: none;
}
ul, li, a{
  margin: 0;
  padding: 0;
}

nav > ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
section{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
#profile{
  align-items: center;
  justify-content: center;
  background-color: gray;
}
#profile > img {
  border-radius: 50px;
  object-fit: cover;
}
#profile > h2{
  margin-top: 10px;
}
#profile > p {
  margin: 0;
}

#gambar{
  top: 0px;
  position: relative;
  z-index: 3;
  background-color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.5s;
}


#foto{
  display: flex;
  position: relative;
  flex-wrap: wrap; 
  justify-content: space-around;
}
#foto > a{
  list-style: none;
}
#foto > a > img {
  max-width: 200px;
  padding: 20px;
  margin-top: 40px;
}

#kata {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#about1{
  background-color: rgb(213, 228, 127);
}

#about1  h1 , p{
    text-align: center;
    color: aqua;
    
}

#program{
  margin: 20px;
}  

   